{% extends "::base.html.twig" %}

{% block title %}Contact Box: {{person.name}} {{person.surname}}{% endblock %}

{% block contact %}
    <h2>Edit information about Person:{{person.name}} {{person.surname}} </h2>
    <div class ="well">{{form_start(form)}}</div>
    <div class ="well">{{form_widget(form)}}</div>
    <div class ="well">{{form_end(form)}}</div>

    {% if person.addresses == null %}
        <td><a class="btn btn-primary" role="button" href="{{url("contactbox_address_createnewadress", {"id":person.id})}}">Add Address</a></td>
    {%else%}
        {%for adress in adresses %}
            <div class ="well">{% include "contactBoxBundle:Address:editAddress.html.twig" with {"idAddress":address.id}%}</div>
        {% endfor%}
    {% endif %} 
    {% if person.emails == null %}

        <td><a class="btn btn-primary" role="button" href="{{url("contactbox_email_addemail", {"id":person.id})}}">Add Email</a></td>
    {%else%}
        {%for email in emails %}
            <td>{% include "contactBoxBundle:Email:editEmail.html.twig" with {"id":email.id}%}</td>
        {% endfor%}
    {% endif %} 
    {% if person.phones == null %}

        <td><a class="btn btn-primary" role="button" href="{{url("contactbox_phone_addnewphone", {"id":person.id})}}">Add Phone</a></td>
    {%else%}
        {%for phone in phones %}
            <td>{% include "contactBoxBundle:Phone:editPhone.html.twig" with {"id":phone.id}%}</td>
        {% endfor%}
    {% endif %}
{% endblock %}